
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yapılacaklar</h2>
<br />

<p><del>Başlıklarda arama kutucuğu</del></p>
<p><del>Yazar görselleri düzenlenecek</del></p>
<p>Grafik eklenecek</p>
<p><del>Vitrin teması</del></p>
<p><del>Gelen kutusunda arama</del></p>
<p>Yetkilendirmeler</p>
<p><del>Hata sayfası layouttan ayrılacak</del></p>
<p><del>Siteye git kısmı düzenlenecek</del></p>
<p>Proje dosyaları sunucuya taşınacak</p>
<p>Alan adı alınacak</p>
<p>Herhangi bir tablo raporlanacak</p>
<p>Proje canlıya taşınacak</p>

